{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css' type='text/css' />
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navigation</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/login">Home</a>
      <a class="nav-item nav-link active" href="/homesearch">Search Homes</a>
      <a class="nav-item nav-link active" href="/maps">Maps</a>
      <a class="nav-item nav-link active" href="/userprofile">My Profile</a>
      <a class="nav-item nav-link active" href="/logout">Logout</a>
    </div>
  </div>
</nav>



<html>
<head>
    <title>Interactive maps for Django web apps</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
<h1>Map Search</h1>
<div id='map' style='width: 800px; height: 450px;'></div>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiamVuLWIxNiIsImEiOiJja3Y4c21jMWo5eHhwMm9vOGZuZXlnZW05In0.a-KfD2aiSDVojLVb1CauUA';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/streets-v10',
center: [-78.51, 38.03],
zoom: 9
});

var Standard_marker = new mapboxgl.Marker()
    .setLngLat([ -78.49314331668081, 38.032608564947076])
    .setPopup(new mapboxgl.Popup().setHTML("<body>The Standard</body>"))
    .addTo(map)
    console.log(Standard_marker.getPopup());

var TheFlats_marker = new mapboxgl.Marker()
    .setLngLat([-78.49365922832396, 38.032396846013455])
    .setPopup(new mapboxgl.Popup().setHTML("<body>The Flats</body>"))
    .addTo(map)
    console.log(TheFlats_marker.getPopup());



var PrestonSquare_marker = new mapboxgl.Marker()
    .setLngLat([  -78.49316867250224, 38.043007220871495 ])
    .setPopup(new mapboxgl.Popup().setHTML("<body>Preston Square Apartments</body>"))
    .addTo(map)
    console.log(PrestonSquare_marker.getPopup());

var Pav_marker = new mapboxgl.Marker()
    .setLngLat([-78.50647848599499, 38.0500228044775])
    .setPopup(new mapboxgl.Popup().setHTML("<body>The Pavilion at North Grounds</body>"))
    .addTo(map)
    console.log(Pav_marker.getPopup());



var Cav_marker = new mapboxgl.Marker()
    .setLngLat([-78.51618518784511, 38.02817439395191])
    .setPopup(new mapboxgl.Popup().setHTML("<body>Cavalier Court Apartments</body>"))
    .addTo(map)
    console.log(Cav_marker.getPopup());

var Crossroads_marker = new mapboxgl.Marker()
    .setLngLat([-78.51440422026138, 38.02702467688287])
    .setPopup(new mapboxgl.Popup().setHTML("<body>Crossroads Apartments</body>"))
    .addTo(map)
    console.log(Crossroads_marker.getPopup());



var _1800JPA_marker = new mapboxgl.Marker()
    .setLngLat([ -78.50857668784514, 38.02820310593401 ])
    .setPopup(new mapboxgl.Popup().setHTML("<body>1800 JPA Apartments</body>"))
    .addTo(map)
    console.log(_1800JPA_marker.getPopup());

var Wertland_marker = new mapboxgl.Marker()
    .setLngLat([-78.49850598599521, 38.0355154377374])
    .setPopup(new mapboxgl.Popup().setHTML("<body>Wertland Square Apartments</body>"))
    .addTo(map)
    console.log(Wertland_marker.getPopup());



var Grandmarc_marker = new mapboxgl.Marker()
    .setLngLat([ -78.499821287845, 38.037187783128104])
    .setPopup(new mapboxgl.Popup().setHTML("<body>Grandmarc at the Corner/body>"))
    .addTo(map)
    console.log(Grandmarc_marker.getPopup());

var Lark_marker = new mapboxgl.Marker()
    .setLngLat([-78.49507742647421, 38.032702608467915])
    .setPopup(new mapboxgl.Popup().setHTML("<body>Lark on Main</body>"))
    .addTo(map)
    console.log(Lark_marker.getPopup());




const geocoder = new MapboxGeocoder({
  accessToken: mapboxgl.accessToken,
  mapboxgl: mapboxgl,
  marker: true,
  placeholder: 'Search for places in Charlottesville',
  bbox: [-78.582, 37.971, -78.438, 38.089],
});


map.addControl(geocoder);
</script>
</body>
</html>



