{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css' type='text/css' />
    
<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <div class="container-fluid">
  <a class="navbar-brand text-white" href="#">Put name here</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
   <ul class="navbar-nav me-auto mb-2 mb-lg-0">
     <li class="navbar-nav">
     <li>
        <a class="nav-item nav-link active text-sm text-white" href="/login">Main</a>
     </li>
      <a class="nav-item nav-link active text-sm text-white" href="/homesearch">Homes</a>
    </li>
     <li>
      <a class="nav-item nav-link active text-sm text-white" href="/maps">Maps</a>
     </li>
     <li>
       <a class="nav-item nav-link active text-sm text-white" href="#">Reviews</a>
     </li>
       <li>
           <a class="nav-item nav-link active text-sm text-white" href="/manage_account">Account</a>
       </li>
     <li>
      <a class="nav-item nav-link active text-sm text-white" href="/logout">Logout</a>
     </li>
   </ul>
    </div>
  </div>
</nav>
<html>



<html>
{% if user.is_authenticated %}
<head>
    <title>Interactive maps for Django web apps</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
<h1>Map Search</h1>
<div id='map' style='width: 800px; height: 450px;'></div>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiamVuLWIxNiIsImEiOiJja3Y4c21jMWo5eHhwMm9vOGZuZXlnZW05In0.a-KfD2aiSDVojLVb1CauUA';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/streets-v10',
center: [-78.51, 38.03],
zoom: 9
});

const geocoder = new MapboxGeocoder({
  accessToken: mapboxgl.accessToken,
  mapboxgl: mapboxgl,
  marker: true,
  placeholder: 'Search for places in Charlottesville',
  bbox: [-78.582, 37.971, -78.438, 38.089],
});


 {% for loc in all_listings %}
    var pin_marker =  new mapboxgl.Marker()
    .setLngLat([{{loc.longitude}}, {{loc.latitude}}])
    .setPopup(new mapboxgl.Popup().setHTML('<a href="/homesearch/listing/{{loc.id}}" target="_blank"> {{loc.name}}</a>'))
    .addTo(map)
    console.log(pin_marker.getPopup());
{% endfor %}

map.addControl(geocoder);
</script>
</body>
{%else%}
<p1> You are not logged in. Please go to the "Home" tab to log in.</p1>
{%endif%}

 <footer class="fixed-bottom bg-light text-black">
      <div class="container">
          <div class="row align-items-start">
            <div class="col">
             Instagram icon
            </div>
            <div class="col">
             Search Homes Link
            </div>
            <div class="col">

            </div>
          </div>
          <div class="row align-items-center">
            <div class="col">
              Twitter Icon
            </div>
            <div class="col">
             Reviews Link
            </div>
            <div class="col">
             Put Icon for something
            </div>
          </div>
          <div class="row align-items-end">
            <div class="col">
              LinkedIn Icon
            </div>
            <div class="col">
              Maps Link
            </div>
            <div class="col">

            </div>
          </div>
      </div>
  </footer>
</html>

