{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<html>


<head>
    <meta charset="utf-8">
    <title>UVA Off Grounds Housing Direction</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>
    <style>
body { margin: 0; padding: 0; }
#map { position: absolute; top: 65; bottom: 100; width: 80%; }

    </style>
</head>
<body>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
<link rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css"
      type="text/css">
<div id="map"></div>

<!source: https://docs.mapbox.com/mapbox-gl-js/example/mapbox-gl-directions/!>
<script>
	// TO MAKE THE MAP APPEAR YOU MUST
	// ADD YOUR ACCESS TOKEN FROM
	// https://account.mapbox.com
	mapboxgl.accessToken = 'pk.eyJ1IjoiamVuLWIxNiIsImEiOiJja3Y4c21jMWo5eHhwMm9vOGZuZXlnZW05In0.a-KfD2aiSDVojLVb1CauUA';
const map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/streets-v11',
center: [-78.51, 38.03],
zoom: 12
});

map.addControl(
new MapboxDirections({
accessToken: mapboxgl.accessToken
}),
'top-left'
);

</script>
<!--https://getbootstrap.com/docs/5.0/components/navbar/-->
<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="/login"><i class="bi bi-house"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="navbar-nav">
                <li>
                    <a class="nav-item nav-link active text-sm text-white" href="/homesearch">Listings</a>
                </li>
                <li>
                    <a class="nav-item nav-link active text-sm text-white" href="/maps">Map</a>
                </li>
                <li>
                    <a class="nav-item nav-link active text-sm text-white" href="/reviews">Reviews</a>
                </li>
                <li>
                    <a class="nav-item nav-link active text-sm text-white" href="/calendar">Events</a>
                </li>
                <li>
                    <a class="nav-item nav-link active text-sm text-white" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>