.calendar {
  width: 98%;
  margin: auto;
  font-size: 13px;
}

.calendar tr, .calendar td {
  border: 1px solid rgb(248, 134, 3);
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
  color: #17a2b8;
}

.calendar td {
  width: 200px;
  height: 125px;
  padding: 20px 0px 0px 5px;
}

.month {
  font-size: 25px;
}

.date {
  font-size: 16px;
}

ul {
  height: 100%;
  padding: 0px 5px 0px 20px;
}

a {
  color: #17a2b8;
}


.left {
  float: left;
}

.right {
  float: right;
}

.btn {
  outline: none;
  color: rgb(182, 23, 23);
  background-color: transparent;
  box-shadow: 0 0 0 0;
}

.clearfix {
  margin: 15px;
}


footer {
 
  margin-top: 30%;
  height: 50;
  width: 100%;
  text-align: center;

  bottom: 45;
}
footer ul {
  list-style-type: none;

}

footer a{

color: royalblue;
}


footer ul li {
  display: inline;
  margin: 0 15px; 
}
