{% load socialaccount %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<html>
<body>
    <figure class="text-center">
        <h1> UVA Off-Grounds Housing </h1>
        <p> You have been logged out </p>
        <a class="btn btn-primary" href="{% provider_login_url 'google' %}" role="button">Login With Google</a>

    </figure>
</body>

  <div class="footer fixed-bottom bg-light text-black mt-3 pt-2 pb-2">
      <div class="container">
          <div class="row align-items-start">
            <div class="col">
                <i class="bi bi-instagram"></i>
            </div>
            <div class="col">
                <a style="text-decoration: none" href="/homesearch">Homes</a>
            </div>
            <div class="col">

            </div>
          </div>
          <div class="row align-items-center">
            <div class="col">
             <i class="bi bi-twitter"></i>
            </div>
            <div class="col">
                <a style="text-decoration: none" href="#">Reviews</a>
            </div>
            <div class="col">

            </div>
          </div>
          <div class="row align-items-end">
            <div class="col">
              <i class="bi bi-linkedin"></i>
            </div>
            <div class="col">
                <a style="text-decoration: none" href="/maps">Map</a>
            </div>
            <div class="col">

            </div>
          </div>
      </div>
  </div>
</html>