{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
    
<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <div class="container-fluid">
  <a class="navbar-brand text-white" href="#">Put name here</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
   <ul class="navbar-nav me-auto mb-2 mb-lg-0">
     <li class="navbar-nav">
     <li>
        <a class="nav-item nav-link active text-sm text-white" href="/login">Main</a>
     </li>
      <a class="nav-item nav-link active text-sm text-white" href="/homesearch">Homes</a>
    </li>
     <li>
      <a class="nav-item nav-link active text-sm text-white" href="/maps">Maps</a>
     </li>
     <li>
       <a class="nav-item nav-link active text-sm text-white" href="#">Reviews</a>
     </li>
     <li>
      <a class="nav-item nav-link active text-sm text-white" href="/calendar">Events</a>
    </li>
     <li>
      <a class="nav-item nav-link active text-sm text-white" href="/logout">Logout</a>
     </li>
   </ul>
    </div>
  </div>
</nav>
<html>
  
<html>
<body>
{% if user.is_authenticated %}
<div class="listing">
    <h1> {{listing.name}}  </h1>
    <head>
        <style>
    .box {
        box-sizing: border-box;
    }
    /* Set additional styling options for the columns*/
    .column {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.left{
  width: 50%;
}

.middle, .right  {
  width: 25%;
}


    .row:after {
    content: "";
    display: table;
    clear: both;
    }

    </style>
    </head>
    <body>
    <div class="row">
        <div class="column left">
            <p> {{listing.address}} </p>
            <img src="{{ listing.image.url }}" width="500px"/>
        </div>
        <div class="column middle">
            <b> Rent: </b> <p> {{listing.rent}} / Month </p>
            <b> Beds: </b> <p> {{listing.num_beds}} </p>
            <b> Baths: </b> <p> {{listing.num_baths}} </p>
            <b> Size: </b> <p> {{listing.size}} Sq. Ft.</p>
        </div>
        <div class="column right">
            <b> Laundry: </b> <p> {{listing.laundry}} </p>
            <b> Parking: </b> <p> {{listing.parking}} </p>
            <b> Fitness: </b> <p> {{listing.fitness}} </p>
            <b> Date Published: </b> <p> {{listing.pub_date}} </p>
        </div>
    </div>
    </body>

    {%else%}
    <p1> You are not logged in. Please go to the "Home" tab to log in.</p1>
    {%endif%}
</div>


</body>
</html>
