{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">


<html>
{% if user.is_authenticated %}
    <div class="listing">

    <head>
        <style>
            .box {
                box-sizing: border-box;
            }
            /* Set additional styling options for the columns*/
            .column {
          float: left;
          padding: 10px;
          height: 300px; /* Should be removed. Only for demonstration */
        }

        .left{
          width: 50%;
        }

        .middle, .right  {
          width: 25%;
        }


            .row:after {
            content: "";
            display: table;
            clear: both;
            }

        </style>
    </head>

    <body>
    <!--https://getbootstrap.com/docs/5.0/components/navbar/-->
        <nav class="navbar navbar-expand-lg navbar-light bg-info">
          <div class="container-fluid">
          <a class="navbar-brand text-white" href="/login"><i class="bi bi-house"></i></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
           <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             <li class="navbar-nav">
              <li>
              <a class="nav-item nav-link active text-sm text-white" href="/homesearch">Listings</a>
            </li>
             <li>
              <a class="nav-item nav-link active text-sm text-white" href="/maps">Map</a>
             </li>
             <li>
               <a class="nav-item nav-link active text-sm text-white" href="/reviews">Reviews</a>
             </li>
             <li>
              <a class="nav-item nav-link active text-sm text-white" href="/calendar">Events</a>
            </li>
               <li>
                   <a class="nav-item nav-link active text-sm text-white" href="/view_profile">Profile</a>
               </li>
             <li>
              <a class="nav-item nav-link active text-sm text-white" href="/logout">Logout</a>
             </li>
           </ul>
            </div>
          </div>
        </nav>

    <!--Source Columns: https://getbootstrap.com/docs/5.0/layout/columns/-->
    <!--Source Position: https://getbootstrap.com/docs/5.0/utilities/position/-->
        <figure class="text-center mt-3 pt-2 mb-3 pb-2 bg-light p-2">
          <h1> {{listing.name}}  </h1>
        </figure>
    <center>  <p> {{listing.address}} </p> </center>


    <!--Source: https://www.youtube.com/watch?v=G-Rct7Na0UQ-->
      <div class="row align-items-center">
        <div class="col">
            <img src="{{ listing.image.url }}" class="img-thumbnail">
        </div>
        <div class="col">
          <b> Rent: </b> <p> {{listing.rent}} / Month </p>
          <b> Beds: </b> <p> {{listing.num_beds}} </p>
          <b> Baths: </b> <p> {{listing.num_baths}} </p>
          <b> Size: </b> <p> {{listing.size}} Sq. Ft.</p>
        </div>
        <div class="col">
          <b> Laundry: </b> <p> {{listing.laundry}} </p>
          <b> Parking: </b> <p> {{listing.parking}} </p>
          <b> Fitness: </b> <p> {{listing.fitness}} </p>
          <b> Date Published: </b> <p> {{listing.pub_date}} </p>
        </div>
      </div>
      

    {%else%}
    <html>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
      <div class="container-fluid">
      <a class="navbar-brand text-white" href="/login"><i class="bi bi-house"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
       <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         <li class="navbar-nav">
          <li>
          <a class="nav-item nav-link active text-sm text-white" href="/homesearch">Listings</a>
        </li>
         <li>
          <a class="nav-item nav-link active text-sm text-white" href="/maps">Map</a>
         </li>
         <li>
           <a class="nav-item nav-link active text-sm text-white" href="/reviews">Reviews</a>
         </li>
         <li>
          <a class="nav-item nav-link active text-sm text-white" href="/calendar">Events</a>
         </li>
	   <li>
               <a class="nav-item nav-link active text-sm text-white" href="/view_profile">Profile</a>
           </li>
         <li>
          <a class="nav-item nav-link active text-sm text-white" href="/login">Login</a>
         </li>
       </ul>
        </div>
      </div>
    </nav>
    <p1> You are not logged in. Please go to the "Login" tab to log in.</p1>
    {%endif%}
    </body>
<footer>
<div class="footer bg-light text-black pt-2 mt-3 pb-2">
      <div class="container">
          <div class="row align-items-start">
            <div class="col">
              <i class="bi bi-instagram"></i>
	       <a style="text-decoration: none"  href="https://www.instagram.com/uva_offground/">@uva_offground</a>
            </div>
            <div class="col">
                <a style="text-decoration: none" href="/homesearch">Listings</a>
            </div>
            <div class="col">

            </div>
          </div>
          <div class="row align-items-center">
            <div class="col">
              <i class="bi bi-twitter"></i>
	       <a style="text-decoration: none"  href="https://twitter.com/uva_offground">@uva_offground</a>
            </div>
            <div class="col">
                <a style="text-decoration: none" href="/reviews">Reviews</a>
            </div>
              <div class="col">

              </div>
          </div>
          <div class="row align-items-end">
            <div class="col">
              <i class="bi bi-linkedin"></i>
	       <a style="text-decoration: none"  href="https://www.linkedin.com/in/uva-off-ground-housing-b1207739/">@uva_offground</a>
            </div>
            <div class="col">
                <a style="text-decoration: none" href="/maps">Map</a>
            </div>
            <div class="col">

            </div>
          </div>
      </div>
  </div>
</body>
</html>
</footer>


