{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navigation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/login">Home</a>
            <a class="nav-item nav-link active" href="/homesearch">Search Homes</a>
            <a class="nav-item nav-link active" href="/maps">Maps</a>
            <a class="nav-item nav-link active" href="/userprofile">User Profile</a>
            <a class="nav-item nav-link active" href="/logout">Logout</a>
        </div>
    </div>
</nav>

<!DOCTYPE html>
<html>
<body>

{% if user.is_authenticated %}
<h1> Search for Housing </h1>

<br>
<div class="row">
    <div class="col">
        <div class="card card-body">
            <form method="get">
                {{myFilter.form}}
                <button class="btn btn-primary" type="submit">
                    Search
                </button>
            </form>
        </div>
    </div>
</div>
<br>


<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Beds</th>
                    <th>Baths</th>
                    <th>Rent</th>
                    <th>Size</th>

                </tr>
                {% for loc in all_listings %}
                <tr>
                    <th><a class="nav-link" href="/homesearch/listing/{{loc.id}}">{{loc.name}}</a></th>
                    <th>{{loc.address}}</th>
                    <th>{{loc.num_beds}}</th>
                    <th>{{loc.num_baths}}</th>
                    <th>{{loc.rent}}</th>
                    <th>{{loc.size}}</th>
                </tr>

                {% endfor %}

            </table>
        </div>
    </div>
</div>


{%else%}
<p1> You are not logged in. Please go to the "Home" tab to log in.</p1>
{%endif%}

</body>
</html>