{% load socialaccount %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">Put name here</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="navbar-nav">
                    <a class="nav-item nav-link active text-sm text-white" href="/homesearch">Homes</a>
                </li>
                <li>
                    <a class="nav-item nav-link active text-sm text-white" href="/maps">Maps</a>
                </li>
                <li>
                    <a class="nav-item nav-link active text-sm text-white" href="userprofile">User Profile</a>
                </li>
                <li>
                    <a class="nav-item nav-link active text-sm text-white" href="/login">Login</a>
                </li>
                <li>
                    <a class="nav-item nav-link active text-sm text-white" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<h3 class="subtitle"> All Reviews </h3>
<div class="reviews-wrapper">
    {% for loc in reviews %}
    <div class="notification space-below">
        <p>
            <strong>Date: </strong> {{ review.pub_date }}
        </p>

        {{review.review_text}}
    </div>
    {% empty %}
    <div class="notification space-below">
        No reviews yet
    </div>
    {% endfor %}
</div>
